@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap");

.banner {
  position: relative;
  
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.background-image {
  opacity: 1.2 !important;
  margin-top: 5rem;
}
.buttons-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  stroke: #fff;
  stroke-width: 1px;
}
.play-button {
  background: linear-gradient(180deg, #7aaefd 0%, #4b78ed 100%);
  border: 1px solid white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100%;
}
.overlay {
  background: url("../../assets/cartoon-boy.svg") center center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.18;
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  display: inline-block;
}

.cartoon-boy {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div */
  opacity: 1;
}

.title {
  color: #fff;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.38);
  font-family: Quicksand, sans-serif;
  font-size: 8vw; /* Responsive font size */
  font-weight: 700;
  letter-spacing: 0.5vw; /* Responsive letter spacing */
}

.subtitle {
  color: #fff;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.38);
  font-family: Quicksand, sans-serif;
  font-size: 2vw; /* Responsive font size */
  font-weight: 600;
  line-height: 1.2;
}

.start-button {
  border-radius: 26px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #7aaefd 0%, #4b78ed 100%);
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.38);
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  padding: 12px 0px;
  width: 201px;
  height: 50px;
  font-weight: 700;
}

.start-button:hover {
  background-color: darkblue;
}
/* Media Queries for further responsiveness */
@media (max-width: 600px) {
  .title {
    font-size: 10vw;
  }
  .subtitle {
    font-size: 3vw;
  }
  .buttons-list {
    flex-direction: column; /* Stack buttons vertically on small screens */
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
